*{
    margin: 0px;
}

header{
    display: flex;
    align-items: inherit;
    justify-content: left;
}

img{
    width: 200px;
    border-radius: 10%;
    margin: 20px;
}

h1{
    text-align: justify;
    font-size: small;
}

h2{
    text-align: justify;
}

p{
    font-size: small;
    margin: 10px;
    text-align: justify;
    position: inherit;
}

p#hero{
    font-size: small;
    margin: 10px;
    text-align: justify;
}

nav{
    justify-content: center;
    text-align: center;
}

footer{
    display: flex;
    position: fixed;
    bottom: 0px;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 20px;
    font-size: small;
}
