*{
    margin: 0px;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: burlywood;
    padding: 10px;
}

img#hero{
    width: 100px;
    border-radius: 25%;
    margin: 10px 0px 10px 40px;
}
 
h1#hero{
    font-family: 'Aboreto', cursive;
    font-size: medium;
}

ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

li a{
    font-family: 'Aboreto', cursive;
    font-size: small;
    text-decoration: none;
    color: black;
    width: 100%;
    font-weight: 200px;
}

li a:hover{
    color: azure;
}

nav{
    background-color: rgb(250, 224, 185);
}