*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body{
    background-color: #292929;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 10px;
}

h1#hero{
    text-align: justify;
    font-family: 'Aboreto';
    font-size: small;
}

h4#hero{
    font-family: 'Aboreto', cursive;
    font-size: 10px;
}

img#hero{
    width: 100px;
    border-radius: 25%;
    margin: 10px 40px 10px 0px;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

ul{
    display: flex;
    list-style: none;
    gap: 10px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    position: relative;
    transition: 0.8s all linear;
    padding: 5px 10px;
    justify-content: center;
}

ul li a:hover{
    color: #292929;
}

ul li a::before{
    position: absolute;
    content: '';
    bottom: 0;
    left: 10%;
    width: 0;
    height: 0;
    background-color: rgba(224, 224, 26, 0.979);
    z-index: -1;
}

ul li a:hover::before{
    animation: ani 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

@keyframes ani{
    0%{
        width: 0%;
        height: 1px;
        left: 50%;
    }

    50%{
        width: 100%;
        height: 1px;
        left: 0;
    }

    100%{
        width: 100%;
        height: 100%;
        left: 0;
    }
}

nav{
    padding: 5pxS;
}

footer{
    display: flex;
    position: fixed;
    bottom: 0px;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: #fff;
    height: 20px;
}
